.information {
  background: #F7FFF0;
  border-radius: 8px;
  padding: 50px 34px;
  width: 100%;
  &__title {
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 27px;
    line-height: 34px;
    text-align: center;
    @include media-max(767) {
      margin-bottom: 12px;
    }
    @include media-max(575) {
      font-size: 18px;
      line-height: 26px;
    }
    &-modif {
      font-weight: 700;
      font-size: 21px;
      line-height: 34px;
      text-align: center;
      margin-bottom: 7px;
    }
  }
  &__service {
    position: relative;
    margin-bottom: 28px;
    &::before {
      content: '';
      width: 100%;
      height: 1px;
      background: #D3FFAC;
      display: block;
      position: absolute;
      bottom: -16px;
      left: 0;
    }
    p {
      font-size: 15px;
      line-height: 34px;
      color: #5EB90B;
      @include media-max(575) {
        font-size: 12px;
        line-height: 18px;
      }
    }
    span {
      font-weight: 700;
      font-size: 21px;
      line-height: 20px;
      align-items: center;
      @include media-max(575) {
        font-size: 16px;
        line-height: 20px;
      }
    }
    ul {
      li {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 15px;
        line-height: 26px;
        position: relative;
        padding-left: 18px;
        &::before {
          content: '';
          left: 3px;
          top: 10px;
          display: block;
          border-radius: 50px;
          width: 7px;
          height: 7px;
          position: absolute;
          background: #212121;
        }
        @include media-max(575) {
          font-size: 13px;
        }
      }
    }
    & > div:not(:last-of-type) {
      margin-bottom: 8px;
    }
    &.chapter {
      span {
        display: inline-block;
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
      }
    }
  }
  &__price {
    &-partly {
      ul {
        li {
          b {
            min-width: 32px;
            display: inline-block;
            font-weight: normal;
            font-size: 15px;
            line-height: 25px;
            color: #5EB90B;
            @include media-max(575) {
              font-size: 13px;
            }
          }
          span {
            display: inline-block;
            font-weight: 500;
            font-size: 15px;
            line-height: 25px;
            @include media-max(575) {
              font-size: 13px;
            }
          }
        }
      }
    }
    &-total {
      margin-top: 20px;
      b {
        font-weight: 700;
        font-size: 21px;
        line-height: 34px;
        @include media-max(575) {
          font-size: 17px;
        }
      }
      span {
        font-weight: 700;
        font-size: 25px;
        line-height: 34px;
        color: #5EB90B;
        @include media-max(575) {
          font-size: 21px;
        }
      }
    }
  }
  &.show {
    position: absolute;
    z-index: 1;
    left: 0;
    overflow: auto;
    min-height: calc(100vh - 50px);
    height: 100%;
    display: flex;
    border-radius: unset;
    padding: 11px 18px 11px 14px;
  }
}