.move {
  & > div {
    &:first-of-type {}
    &:last-of-type {
      margin-left: 26px;
      font-weight: 600;
      font-size: 15px;
      line-height: 34px;
      color: #5EB90B;
      @include media-max(767) {
        margin: 0;
        font-size: 13px;
      }
    }
  }
}