.services {
  &__list {
    width: 100%;
    column-gap: 30px;
    margin-bottom: 43px;
    @include media-max(991) {
      gap: unset;
      margin-bottom: 18px;
    }
  }
  &__card {
    cursor: pointer;
    padding: 8px;
    margin-bottom: 26px;
    background: #FFFFFF;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.07);
    border-radius: 8px;
    max-width: 250px;
    width: 100%;
    min-height: 126px;
    box-sizing: border-box;
    @include media-max(1440px) {
      max-width: 257px;
    }
    @include media-max(1199) {
      max-width: 212px;
    }
    @include media-max(991) {
      max-width: none;
      width: calc(50% - 8.5px);
      margin-bottom: 17px;
    }
    @include media-max(575) {
      min-height: 76px;
    }
    span {
      font-family: Pridi, sans-serif;
      font-weight: 600;
      font-size: 21px;
      line-height: 29px;
      text-align: center;
      letter-spacing: 1px;
      color: #212121;
      @include media-max(575) {
        font-size: 15px;
        line-height: 19px;
      }
    }
    &.active {
      background: #FFF9ED;
      border: 3px solid #FFC954;
      border-radius: 8px;
      span {
        color: #5EB90B;
      }
    }
  }
}