.time-estimated {
  font-size: 15px;
  line-height: 34px;
  color: #5EB90B;
  @include media-max(575) {
    font-size: 12px;
  }
  span {
    color: #212121;
    font-weight: 500;
  }
}

.time-list {
  li {
    background: #FFFFFF;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.07);
    border-radius: 8px;
    font-weight: 500;
    font-size: 15px;
    line-height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 12px;
    cursor: pointer;
    transition: .3s;
    &:not(:last-of-type) {
      margin-bottom: 5px;
    }
    &.selected {
      box-shadow: none;
      background: #F5FFEC;
      font-weight: 700;
      font-size: 17px;
      color: #5EB90B;
      @include media-max(575) {
        font-size: 15px;
      }
    }
    @include media-max(575) {
      font-size: 13px;
    }
  }
}